/*--------------Style libray ----------------------------------------------------*/


/*----------------------------Global Root Variables---------------------------------------*/

:root {
    /*---Font Variables---*/
    --specialfont1: 'Turret Road', sans-serif;
    /*-- used for main headers----------------------*/
    --specialfont-light: 'Turret Road', sans-serif;
    /*-- used for content----------------------*/
    /*---Font Color Variables---*/
    --ink1-black: rgba(0, 0, 0, 0.8);
    /*-- black----------------------*/
    --ink2-offblacksolid: rgba(29, 40, 49, 1);
    /*-- blue-black (solid) main b/ground----*/
    --ink3-offblacksemi: rgba(29, 40, 49, 0.7);
    /*-- blue-black (semi-transparent) - to blend with hero image------*/
    --ink4-blueblack: rgb(10, 25, 35);
    /*-- off-black - mid-level panel --*/
    --ink5-LED1: rgba(0, 217, 255, 1);
    /*--Bright Teal Blue LED-------*/
    --ink6-LED2: rgba(0, 189, 255, 0.8);
    /*--Blue LED ------------------*/
    --ink6-LED2ON: rgba(0, 189, 255, 1);
    /*--'Lit' Blue LED ------------*/
    --ink6-LED2LOW: rgba(0, 189, 255, 0.4);
    /*--'Lit' Blue LED ------------*/
    --ink6-LED2OFF: rgba(0, 189, 255, 0.2);
    /*--'Lit' Blue LED ------------*/
    --ink7-LED3: rgba(0, 255, 241, 1);
    /*--'Lit''Blue----------------*/
    --ink8-glass1: rgba(107, 196, 255, 1);
    /*--svg glass fill w high transparency --*/
    --ink9-glass2: rgba(0, 0, 0, 0.3);
    /*--black 50% transparency---*/
    --ink9: rgb(255, 239, 213);
    /*-- papayawhip ----------------*/
    --ink10-red: rgb(209, 17, 17);
    /*-- red (off status)-----------*/
    --ink11-green: rgb(52, 232, 42);
    /*-- green (on status) --------------------*/
    --ink12: rgb(250, 250, 250);
    /*-- XXXXX --------------------*/
    --ink13: rgb(184, 201, 211);
}


/*---------------------Responsive Font Groups -----------------------------*/

h1 {
    font-size: clamp(5rem);
    color: var(--ink6-LED2)
}

h2 {
    font-size: clamp(3rem, 32px);
    color: var(--ink6-LED2)
}

h3 {
    font-size: clamp(2.5rem, 28px);
    color: var(--ink6-LED2)
}

h4 {
    font-size: 1.5vw;
    color: var(--iink6-LED2)
}

h5 {
    font-size: 1.25vw;
    color: var(--iink6-LED2)
}

body,
div,
p {
    font-size: 1vw;
    font-family: var(--specialfont-light);
    color: var(--ink6-LED2);
}

.text_small {
    font-size: clamp(0.75rem, 9px);
    color: var(--ink6-LED2);
}


/*---------------------Media Queries - Portrait-----------------------------------------*/


/*----The tabular design of the game requires landscape perspective. Media query added to prevent display on portratit and instruct visitor to rotate device--*/

#mode-check {
    display: flex;
    position: relative;
    /*--pos relative to enable absolute position of portrait detection message--*/
    width: 100vw;
    height: 100vh;
    background-color: var(--ink2-offblacksolid);
    overflow: hidden;
}

@media (orientation: portrait) {
    #rotate {
        visibility: visible;
        position: absolute;
        background-size: 20px 20px;
        top: 20%;
        left: 40%;
    }
    #portrait-detected {
        display: block;
        font-weight: bold;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 35%;
        width: 50vw;
    }
    #full-screen {
        display: none;
    }
}

@media (orientation: landscape) {
    #mode-check {
        display: none;
    }
}


/*---------------------Full Page -----------------------------------------*/

#full-screen-menu {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*-background-color: var(--ink2-offblacksolid);--*/
    background: linear-gradient(217deg, rgba(42, 46, 51), rgba(29, 43, 53) 70.71%), linear-gradient(127deg, rgba(42, 46, 51), rgba(24, 42, 56) 70.71%), linear-gradient(336deg, rgba(042, 46, 51), rgba(24, 42, 56) 70.71%);
}


/*---------------------Landing Screen (index.html) -----------------------------------------*/

#title {
    font-size: 7vw;
    text-align: center;
    color: var(--ink7-LED3);
}

#title-strap {
    font-size: 2vw;
    text-align: center;
}

#title-strap li {
    position: relative;
    text-align: center;
}

#hero-img {
    -o-object-fit: contain;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

#title-menu {
    text-align: center;
}

#title-menu .btn {
    font-size: 3vw;
    display: block;
    width: 40vw;
    background-color: var(--ink6-LED2LOW);
    margin: 3rem 0;
}

#title-menu .btn a {
    color: inherit;
    text-decoration: none;
}

#title-menu .btn:hover {
    background-color: var(--ink6-LED2ON);
    color: var(--ink7-LED3);
    box-shadow: -2px -2px 3px var(--ink8-glass1), 1px 1px 1px rgb(107, 196, 255), 1px 2px 1px rgb(107, 196, 255), 1px 3px 1px rgb(107, 196, 255), 1px 4px 1px rgb(107, 196, 255), 4px 12px 4px rgba(0, 189, 255, 0.2), 8px 16px 8px rgba(0, 189, 255, 0.2), 16px 28px 28px rgba(0, 189, 255, 0.2);
}

.modal-btn {
    color: var(--ink4-blueblack);
    background: var(--ink8-glass1);
    text-decoration: none;
    font-size: 1.25vw;
}

.btn-close2 {
    font-size: 1.25vw;
}

.btn-closed {
    font-size: 1.75vw;
    color: var(--ink8-glass1);
    background-color: var(--ink4-blueblack);
}

.modal {
    color: var(--ink8-glass1);
    background-color: var(--ink3-offblacksemi);
    font-size: 2vw;
}

.modal-header,
.modal-footer,
.modal-title {
    background: var(--ink4-blueblack);
    color: var(--ink6-LED2ON);
}

.modal-title {
    font-size: 2vw;
}

.modal-body {
    background: var(--ink8-glass1);
    color: var(--ink4-blueblack);
}

#modal-list,
li {
    font-size: 1.5vw;
}

#modal-list,
li>span {
    font-size: 1.25vw;
}


/****************************************************************************************/


/*---------------------Game Screen (game.html) -----------------------------------------*/

#full-screen-game {
    border: 5px solid red;
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: center;
    /*-background-color: var(--ink2-offblacksolid);--*/
    background: linear-gradient(217deg, rgba(42, 46, 51), rgba(29, 43, 53) 70.71%), linear-gradient(127deg, rgba(42, 46, 51), rgba(24, 42, 56) 70.71%), linear-gradient(336deg, rgba(042, 46, 51), rgba(24, 42, 56) 70.71%);
}

#game-header {}

#game-dashboard {
    border: 5px solid green;
}

#game-menu {
    min-height: 16vh;
}

#game-menu .btn {
    font-size: 1vw;
    display: block;
    width: 10vw;
    background-color: var(--ink6-LED2LOW);
    margin: 1rem 0;
}

#game-menu .btn:hover {
    background-color: var(--ink6-LED2ON);
    color: var(--ink7-LED3);
    box-shadow: -2px -2px 3px var(--ink8-glass1), 1px 1px 1px rgb(107, 196, 255), 1px 2px 1px rgb(107, 196, 255), 1px 3px 1px rgb(107, 196, 255), 1px 4px 1px rgb(107, 196, 255), 4px 12px 4px rgba(0, 189, 255, 0.2), 8px 16px 8px rgba(0, 189, 255, 0.2), 16px 28px 28px rgba(0, 189, 255, 0.2);
}

#game-menu .btn a {
    color: inherit;
    text-decoration: none;
}

#dashboard-title {
    font-size: 5rem;
    color: var(--ink6-LED2ON);
    text-align: center;
    text-shadow: -1px 1px 1px rgb(145, 145, 145), -1px 2px 1px rgb(145, 145, 145), -1px 3px 1px rgb(145, 145, 145), -1px 4px 1px rgb(145, 145, 145), -1px 5px 1px rgb(145, 145, 145), -1px 6px 1px rgb(145, 145, 145), -1px 7px 1px rgb(145, 145, 145), -1px 8px 1px rgb(145, 145, 145), -1px 9px 1px rgb(145, 145, 145), -1px 10px 1px rgb(145, 145, 145), -1px 18px 6px rgba(0, 189, 255, 0.4), -1px 22px 10px rgba(0, 189, 255, 0.2), -1px 35px 35px rgba(0, 189, 255, 0.2), -1px 60px 60px rgba(0, 189, 255, 0.4);
    position: relative;
}

#game-finances {
    /*--margin-top:2vh;
    margin-bottom:1vh;
    margin-left:1vh;
    width:auto;
    height:45vh;
    align-items:center;
    justify-items:center;
    border-radius: 10px 10px;   
     
    --*/
    box-shadow: -2px -2px 3px var(--ink8-glass1), 1px 1px 1px rgb(107, 196, 255), 1px 2px 1px rgb(107, 196, 255), 1px 3px 1px rgb(107, 196, 255), 1px 4px 1px rgb(107, 196, 255), 4px 12px 4px rgba(0, 189, 255, 0.2), 8px 16px 8px rgba(0, 189, 255, 0.2), 16px 28px 28px rgba(0, 189, 255, 0.2);
    display: inline-grid;
    grid-template-columns: 5vw 10vw 10vw;
    grid-template-rows: 3;
    /*-- CSS BEAUTIFIER AUTO-STYLING GRID-LAYOUT ON SINGLE ROW???--*/
    grid-template-areas: "finance-logo       finance-title   .               .               .               ." "finance-bank      finance-bank      finance-bank      finance-ewallet    finance-ewallet    finance-ewallet" "finance-exchange  finance-exchange  finance-exchange  finance-exchange    finance-exchange    finance-exchange";
}

.finance-icon {
    width: 2vw;
    text-align: center;
}

.finance-label {}

.finance-value {}

#finance-logo {
    grid-area: finance-logo;
    font-size: 2rem;
}

#finance-title {
    grid-area: finance-title;
}

#finance-bank {
    grid-area: finance-bank;
    display: inline-grid;
    grid-template-columns: 2vw 10vw 10vw;
    grid-template-rows: 1;
    grid-template-areas: "bank-icon  bank-label bank-value"
}

#bank-icon {
    grid-area: bank-icon;
}

#bank-label {
    grid-area: bank-label;
}

#bank-value {
    grid-area: bank-value;
}

#finance-ewallet {
    grid-area: finance-ewallet;
    display: inline-grid;
    grid-template-columns: 2vw 10vw 10vw;
    grid-template-rows: 1;
    grid-template-areas: "ewallet-icon  ewallet-label ewallet-value"
}

#ewallet-icon {
    grid-area: ewallet-icon;
}

#ewallet-label {
    grid-area: ewallet-label;
}

#ewallet-value {
    grid-area: ewallet-value;
}

#finance-exchange {
    grid-area: finance-exchange;
    display: inline-grid;
    grid-template-columns: 2vw 10vw 10vw 2vw 10vw 10vw;
    grid-template-rows: 1;
    grid-template-areas: "exchange-icon  exchange-label exchange-value exchange-btn exchange-btn ."
}

#exchange-icon {
    grid-area: exchange-icon;
}

#exchange-label {
    grid-area: exchange-label;
}

#exchange-value {
    grid-area: exchange-value;
}

#exchange-value-sub {
    font-size: 1rem;
}

#exchange-btn {
    grid-area: exchange-btn;
}