
/*--------------Style libray ----------------------------------------------------*/




/*----------------------------Global Root Variables---------------------------------------*/

:root {

/*---Font Variables---*/

    --specialfont1: 'Turret Road', sans-serif; /*-- used for main headers----------------------*/
    --specialfont-light: 'Turret Road', sans-serif; /*-- used for content----------------------*/


   /*---Font Color Variables---*/

   --ink1-black:rgba(0,0,0,0.8);                  /*-- black----------------------*/
   --ink2-offblacksolid:rgba(29,40,49,1);    /*-- blue-black (solid) main b/ground----*/
   --ink3-offblacksemi:rgba(29,40,49,0.7);   /*-- blue-black (semi-transparent) - to blend with hero image------*/
   --ink4-blueblack:rgb(10,25,35);           /*-- off-black - mid-level panel ----------------*/
   
   --ink5-LED1:   rgba(0,217,255,1);         /*--Bright Teal Blue LED-------*/
   --ink6-LED2:   rgba(0,189,255,0.8);       /*--Blue LED ------------------*/
   --ink6-LED2ON: rgba(0,189,255,1);         /*--'Lit' Blue LED ------------------*/
   --ink6-LED2OFF:rgba(0,189,255,0.2);       /*--'Lit' Blue LED ------------------*/
   --ink7-LED3:   rgba(0,255,241,1);         /*--'Lit''Blue----------------*/
   --ink8-glass1: rgba(107,196,255,0.2);    /*--svg glass fill w high transparency --*/
   --ink9-glass2: rgba(0,0,0,0.3);           /*--black 50% transparency---*/

   --ink9:rgb(255,239,213);                 /*-- papayawhip ----------------*/
   --ink10:rgb(250,250,250);                 /*-- XXXXX --------------------*/ 
   --ink11:rgb(250,250,250,);                /*-- XXXXX --------------------*/ 
   --ink12:rgb(250,250,250);                 /*-- XXXXX --------------------*/   
 
}

.container {
    padding:0;
    margin:0;
}

.col {
    margin:0;
    padding:0;
}

/*---------------------Responsive Font Groups -----------------------------*/

h1 {font-size: clamp(4.209rem);color:var(--ink6-LED2)}
h2 {font-size: clamp(3.157rem, 32px);color:var(--ink6-LED2)}
h3 {font-size: clamp(2.369rem, 28px);color:var(--ink6-LED2)}
h4 {font-size: clamp(1.777rem, 32px);color:var(--iink6-LED2)}
h5 {font-size: clamp(1.333rem);color:var(--iink6-LED2)}
body, div, p {font-size: clamp(1rem, 16px);font-family: var(--specialfont-light); color:var(--ink6-LED2);}
.text_small {font-size: clamp(0.75rem, 9px); color:var(--ink6-LED2);}


/*---------------------Temp - Schedule Page-------------------------------*/

.schedule-fullScreen {
    color:var(--ink-black);
    background-color: var(--ink-glass1);
}



/*---------------------Full Page -----------------------------------------*/

    #fullscreen {
    width:100vw;
   
    }

    #top-screen, #mid-screen, #lower-screen {
    background-color: var(--ink2-offblacksolid);
    }
    
    #top-screen {
    padding:0;
    margin:0;
    }
    
    #mid-screen, #lower-screen {

    }

    .breaker-line {
    background-image: linear-gradient(to right, var(--ink3-offblacksemi), var(--ink5-LED1), var(--ink3-offblacksemi)); 
    height:0.5vh;
    }
    
    /*---------------------Top Screen (zone 1 : Landing Screen) -----------------------------------------*/
    #zone1 {
    width:100vw;
    background-color: var(--ink2-offblacksolid);
    }
    
    #zone1-content {
    /*--min-height:50vh; not needed? --*/
    width:100vw;
    }
    
    
    #hero-img {
    position: relative;
    width:100%;

    }
    
    #zone1-buffer-row {
        height:20vh;
        border:hidden;
    }

    
    /*---------------------Middle Screen (zones 2 & 3) : How to Play and Additional Info) -----------------------------------------*/
    
    #zone2 {
     
    }
    
    #zone3 {
        
    }
    
    .block-outer1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 3vh;
        text-align:left;
    }
    
    .block-title {
        min-height:5vh;
        font-family: var(--specialfont1);
        background-image:linear-gradient(to right, var(--ink3-offblacksemi), var(--ink5-LED1), var(--ink3-offblacksemi)); 
        text-align:center;
        color: var(--ink4-blueblack);
        padding:1vh 0 1vh 1vw;
        margin-bottom:0.5vh;
        cursor: pointer;
        
        width:100vw;
    }
    
        
    .inner-content1 {
        display: none;
        overflow: hidden;
    }

    
    /*---------------------Lower Screen (zone 4 : Game Screen) -----------------------------------------*/
    
    #zone4 {
        margin:0;   
    }



    #zone4-buffer-row {
        height:30vh;
        border:hidden;
    }





    #main-game-wrapper {
        margin: 0;
        padding:1em;
        position:relative;
        background:var(--ink4-blueblack);
        border-radius:10px 10px;
        box-shadow: -2px -2px 3px var(--ink8-glass1),
                     2px  2px 6px var(--ink1-black);
    }

    #game-main-info-row {
        
        margin-top:2vh;
    }

    .info-sub-card1, .info-sub-card2 {    /*--split to enable seperate height to be applied to info panel when moved down alongside miner card---*/
        height:30vh;
    }

    #game-main-info-left {
        height: 30vh;
  
        
    }

    #game-main-info-center {
        height: 30vh;
        margin-left:1vw;
        margin-right:1vw;           
    }
    

    #message-screen {
        height:16vh;
        background-image: repeating-linear-gradient(var(--ink3-offblacksemi), black 1%); 

    }


    
    #game-main-info-right {
        height: 30vh;
        
    }


/*---removed to allow 'blended row' at smaller sizes----

    #game-main-miner-row {
       
        margin-top:2vh;
    }

 ----*/   
    

    .styled-pane-card {
        
        margin-left:0;
        margin-right:0;
        margin-top:0;
        margin-bottom:0;
        padding: 1rem;
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        align-items: start;
        justify-items: start;
        background-color:var(--ink4-blueblack);
        font-weight:bold;
        border-radius:10px 10px;
        box-shadow: -2px -2px 3px var(--ink8-glass1),
        2px  2px 6px var(--ink1-black);
        cursor: pointer;

    }

    .styled-small {
        margin-left:0;
        margin-right:0;
        margin-top:0;
        margin-bottom:0;
        padding: 1rem;
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        min-height:100%;
        justify-items: center;
        background-color:var(--ink4-blueblack);
        font-weight:bold;
        border-radius:10px 10px;
        box-shadow: -2px -2px 3px var(--ink8-glass1),
        2px  2px 6px var(--ink1-black);
        cursor: pointer;
    }

    #e-wallet {
        fill:var(--ink6-LED2OFF);
    }
    


    .card-body {
        width:100%;
        height:100%;
    }

    .pwr-rate {
        display:inline-block;
    }

    .pwr-rate > * {
        display:inline;
    }

    .card-header {
        padding-left:0;
        display:inline-block;
        width:100%;
        
    }

    .card-header > * {
        display:inline;
        padding-left:2rem;
    }

    .card-header > h3 {
        padding-right:2rem;
    }

    .card-icon {
        margin-left:0;
        margin-right:1rem;
        text-align:center; 
    }

    .card-label {
        margin-left:0;
        margin-right:1rem; 
    }

    .val {
        display:inline-block;
        flex-wrap:no-wrap;
        height:100%;
        width:12vw;    
    }

    .val > * {
        display:inline-block;
    
    }

    .box {
        display:inline-block;
        flex-wrap:nowrap;
        width:0.5rem;
        height:0.5rem;
        background-color:var(--ink6-LED2OFF);
    }


 /*---------------------Media Queries -----------------------------------------*/
 /*----Challanges with applying combination of bootsrap column break points, widths and ordering required a more granular set-up of the layout for responsiveness-----------------------------------------*/


/*--by default, site layout accomodates screens xl and above, and custmised for widths below these--*/

/*--large screens--*/

 @media (min-width: 992px) and (max-width: 1199px){
    #game-main-info-left {
      order: 1;
      margin-left:1vw;
     }
      

     #game-main-info-right{
     order: 2;
     margin-left:1vw;
     margin-right:1vw;
     }


    #game-main-info-center{
    order: 3;
    margin-top:1vh;
    max-width: 46vw;
    }

    #message-screen {
    height:35vh;
    }

    .info-sub-card2 {
    height:50vh;
    }
    
    
    
    #terminal1 {
    order:4;
    margin-top:1vh;
    }

    #terminal2 {
    order:5;
    margin-top:1vh;
    }

    #terminal3 {
    order:6;
    margin-top:1vh;
    }

  }





    /*--bug - only works when internal text is selected - try mouseenter jquery instead? use aspect below for 'checked' items'
    .styled-pane-card :hover {
        box-shadow: -2px -2px 3px var(--ink8-glass1),
                     2px  2px 6px var(--ink1-black),
                inset -2px  -2px 10px var(--ink8-glass1),
                inset 2px  2px 10px var(--ink1-black);
    }
--*/
   

    /*--use aspect below for 'checked' items'
    .styled-pane-card :checked {
        color: var(--ink8-glass1);
        box-shadow: 
        inset    -1px -1px 3px var(--ink8-glass1),
        inset     2px  2px 6px var(--ink1-black);
    }
    --*/




/*--
    .miner-list {
        min-width:100%;
        display:flex;
        flex-wrap:wrap;
        flex-direction: row;
        word-wrap: break-word;
    }








/*---------------------Main Body : Center Panel (Terminal Window)----------

#gameplay-main {
    
    margin-left:12px;
    margin-right:12px;
    color:var(--ink1);
}

.digital-value {
    background-color:var(--ink1);
    color:rgb(3, 136, 3);
    padding-right:2vw;
}

#terminal-window {
    border: solid 2px var(--ink3);
    padding:2vh 1vw;
    margin-bottom:5vh;
    
}


/*---------------------Main Body : Right Panel (Game Stats)-----------------------




/*---------------------Temporary Styling / Testing ------------------------------------

/*---------------------Footer---------------------

#footer {
    height:15vh;
    padding:1vh 1vw;
    background-color:var(--ink0);
    color:var(--ink2);
    overflow: auto;
}

.btn-test {
    width:25vw;
    height:auto;
}





