/*--------------Style libray ----------------------------------------------------*/


/*----------------------------Global Root Variables---------------------------------------*/

:root {
    /*---Font Variable---*/
    --specialfont-light: 'Turret Road', sans-serif;
    
    /*---Color Variables---*/
    
    --ink2-offblacksolid: rgba(29, 40, 49, 1);
    /*-- blue-black (solid) main b/ground----*/
    --ink3-offblacksemi: rgba(29, 40, 49, 0.7);
    /*-- blue-black (semi-transparent) - to blend with hero image------*/
    --ink4-blueblack: rgb(10, 25, 35);
    /*-- off-black - mid-level panel --*/
    --ink6-LED2: rgba(0, 189, 255, 0.8);
    /*--Blue LED ------------------*/
    --ink6-LED2ON: rgba(0, 189, 255, 1);
    /*--'Lit' Blue LED ------------*/
    --ink6-LED2LOW: rgba(0, 189, 255, 0.4);
    /*--'Lit' Blue LED ------------*/
    --ink6-LED2OFF: rgba(0, 189, 255, 0.2);
    /*--'Lit' Blue LED ------------*/
    --ink7-LED3: rgba(0, 255, 241, 1);
    /*--'Lit''Blue----------------*/
    --ink8-glass1: rgba(107, 196, 255, 1);
    /*--fill w high transparency --*/
    --ink9: rgb(255, 239, 213);
    /*-- papayawhip ----------------*/
    --ink10-red: rgb(209, 17, 17);
    /*-- red (off status)-----------*/
    --ink11-amber: rgb(255, 193, 7);
    /*-- amber (warning status)-----*/
    --ink12-green: rgb(52, 232, 42);
    /*-- green (on status) ---------*/
    --ink14: rgb(223, 242, 255);
    /*--modal background------------*/
}


/*---------------------Responsive Font Groups -----------------------------*/

h1 {
    color: var(--ink6-LED2);
}

h2 {
    color: var(--ink9);
}

h3 {
    color: var(--ink6-LED2);
}

h4 {
    color: var(--iink6-LED2);
}

h5 {
    color: var(--iink6-LED2);
}

div,
p {
    font-size: 1rem;
    font-family: var(--specialfont-light);
    color: var(--ink6-LED2);
}

.text_small {
    font-size: clamp(0.75rem, 9px);
    color: var(--ink6-LED2);
}

.LED-ON {
    color: var(--ink6-LED2ON);
}

/*--100vh for max:height still resulted in screen bigger than device, applied following settings for the limits to be respected--*/
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
  }

/*-- secondary header & icons for smaller devices invoked by media queries --*/
#terminal-title-small,
#finance-title-small,
#message-title-small,
#activity-title-small,
#energy-title-small {
    display: none;
}

/*---------------------Media Queries - Portrait-----------------------------------------*/


/*----The tabular design of the game requires landscape perspective. Media query added to prevent display on portratit and instruct visitor to rotate device--*/

.mode-check {
    display: flex;
    position: relative;
    /*--pos relative to enable absolute position of portrait detection message--*/
    width: 100vw;
    height: 100vh;
    background-color: var(--ink2-offblacksolid);
    overflow: hidden;
}

@media (orientation: portrait) {
    .rotate {
        visibility: visible;
        position: absolute;
        background-size: 20px 20px;
        top: 20%;
        left: 40%;
    }
    .portrait-detected {
        display: block;
        font-weight: bold;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 35%;
        width: 50vw;
    }
    .full-screen {
        display: none;
    }
}

@media (orientation: landscape) {
    .mode-check {
        display: none;
    }
}


/*---------------------Full Page -----------------------------------------*/

#full-screen-menu {
    position: relative;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(217deg, rgba(42, 46, 51), rgba(29, 43, 53) 70.71%), linear-gradient(127deg, rgba(42, 46, 51), rgba(24, 42, 56) 70.71%), linear-gradient(336deg, rgba(042, 46, 51), rgba(24, 42, 56) 70.71%);
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}


/*--Media Queries - Index ---*/



/*---------------------Landing Screen (index.html) -----------------------------------------*/

#title {
    font-size: 7vw;
    text-align: center;
    color: var(--ink7-LED3);
}

#title-strap {
    font-size: 2vw;
    text-align: center;
}

#title-strap li {
    position: relative;
    text-align: center;
}

#hero-img {
    -o-object-fit: contain;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

#title-menu {
    text-align: center;
}

#title-menu .btn {
    font-size: 3vw;
    display: block;
    width: 40vw;
    background-color: var(--ink6-LED2LOW);
    margin: 3vh 0;
}

#title-menu .btn a {
    color: inherit;
    text-decoration: none;
}

#title-menu .btn:hover {
    background-color: var(--ink6-LED2ON);
    color: var(--ink7-LED3);
    box-shadow: -2px -2px 3px var(--ink8-glass1), 1px 1px 1px rgb(107, 196, 255), 1px 2px 1px rgb(107, 196, 255), 1px 3px 1px rgb(107, 196, 255), 1px 4px 1px rgb(107, 196, 255), 4px 12px 4px rgba(0, 189, 255, 0.2), 8px 16px 8px rgba(0, 189, 255, 0.2), 16px 28px 28px rgba(0, 189, 255, 0.2);
}


/*--Modals---*/

.modal-btn {
    color: var(--ink4-blueblack);
    background: var(--ink8-glass1);
    text-decoration: none;
    font-size: 1.25vw;
}

.btn-close2 {
    font-size: 1.25vw;
}

.btn-closed {
    font-size: 1.75vw;
    color: var(--ink8-glass1);
    background-color: var(--ink4-blueblack);
}

.modal {
    color: var(--ink8-glass1);
    background-color: var(--ink3-offblacksemi);
    font-size: 2vw;
}

.modal-header,
.modal-footer,
.modal-title {
    background: var(--ink4-blueblack);
    color: var(--ink6-LED2ON);
}

.modal-title {
    font-size: 2vw;
}

.modal-body {
    background: var(--ink14);
    color: var(--ink4-blueblack);
}

#modal-list,
li {
    font-size: 1.5vw;
}

#modal-list,
li>span {
    font-size: 1.25vw;
}


#upgrade-shop {
    padding-top: 5vh;
    text-align: center;
}

#modal-unaffordable {
    display: none;
}

/****************************************************************************************/


/*---------------------Game Screen (game.html) -----------------------------------------*/


/*----Top Section (contents: title and game-menu)--------*/

#full-screen-game {
    position: relative;
    min-height: 100vh;
    align-items: center;
    overflow:scroll;
    justify-content: center;
    /*-background-color: var(--ink2-offblacksolid);--*/
    background: linear-gradient(217deg, rgba(42, 46, 51), rgba(29, 43, 53) 70.71%), linear-gradient(127deg, rgba(42, 46, 51), rgba(24, 42, 56) 70.71%), linear-gradient(336deg, rgba(042, 46, 51), rgba(24, 42, 56) 70.71%);
}


#dashboard-title {
    
    padding: 1vh;
    font-size: 4vw;
    color: var(--ink6-LED2ON);
    text-align: center;
    vertical-align: center;
    text-shadow: -1px 1px 1px rgb(145, 145, 145), -1px 2px 1px rgb(145, 145, 145), -1px 3px 1px rgb(145, 145, 145), -1px 4px 1px rgb(145, 145, 145), -1px 5px 1px rgb(145, 145, 145), -1px 6px 1px rgb(145, 145, 145), -1px 7px 1px rgb(145, 145, 145), -1px 8px 1px rgb(145, 145, 145), -1px 9px 1px rgb(145, 145, 145), -1px 10px 1px rgb(145, 145, 145), -1px 18px 6px rgba(0, 189, 255, 0.4), -1px 22px 10px rgba(0, 189, 255, 0.2), -1px 35px 35px rgba(0, 189, 255, 0.2), -1px 60px 60px rgba(0, 189, 255, 0.4);
}

#game-menu {
    display:flex;
    align-self: end;
    justify-content: space-evenly;
    height: 8vh;
    margin-top: 2vh;
    width:100%;
    border-radius: 0.5vw;
    box-shadow: -2px -2px 3px var(--ink8-glass1), 1px 1px 1px rgb(107, 196, 255), 1px 2px 1px rgb(107, 196, 255), 1px 3px 1px rgb(107, 196, 255), 1px 4px 1px rgb(107, 196, 255), 4px 12px 4px rgba(0, 189, 255, 0.2), 8px 16px 8px rgba(0, 189, 255, 0.2), 16px 28px 28px rgba(0, 189, 255, 0.2);
    overflow: hidden;
}

#game-menu .btn {
    font-size: 1vw;
    display: inline-block;
    min-width: 10vw;
    background-color: var(--ink6-LED2LOW);
    margin: 2vh 0;
}

#game-menu .btn:hover {
    background-color: var(--ink6-LED2ON);
    color: var(--ink7-LED3);
    box-shadow: -2px -2px 3px var(--ink8-glass1), 1px 1px 1px rgb(107, 196, 255), 1px 2px 1px rgb(107, 196, 255), 1px 3px 1px rgb(107, 196, 255), 1px 4px 1px rgb(107, 196, 255), 4px 12px 4px rgba(0, 189, 255, 0.2), 8px 16px 8px rgba(0, 189, 255, 0.2), 16px 28px 28px rgba(0, 189, 255, 0.2);
}

#game-menu .btn a {
    color: inherit;
    text-decoration: none;
}


/*---- Main Dashboard (contents: left panel, mid row and lower row)--------*/

#game-dashboard {
    /*--border: 0.2vw solid var(--ink6-LED2LOW);--*/
    border-radius: 0.4vw;
    height: 85vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.center-panel {
    width: 100%;
}

.right-panel {
    width: 100%;
}


/*---- Left Pane Main Terminal --------*/

#main-terminal {
    height: 84vh;
    padding: 1vh 1vw;
    border-radius: 0.5vw;
    box-shadow: -2px -2px 3px var(--ink8-glass1), 1px 1px 1px rgb(107, 196, 255), 1px 2px 1px rgb(107, 196, 255), 1px 3px 1px rgb(107, 196, 255), 1px 4px 1px rgb(107, 196, 255), 4px 12px 4px rgba(0, 189, 255, 0.2), 8px 16px 8px rgba(0, 189, 255, 0.2), 16px 28px 28px rgba(0, 189, 255, 0.2);
    overflow: hidden;
}

#terminal-logo {
    font-size: 2rem;
    width: 2vw;
    display: inline;
    color:var(--ink9);
}

#terminal-title {
    font-size: 2rem;
    display: inline;
}


.radio-val {
    background-color: inherit;
    border-color: rgba(0, 0, 0, 0);
    color: var(--ink6-LED2);
}

.radio-val:hover {
    background-color: var(--ink6-LED2LOW);
    border-color: var(--ink6-LED2LOW);
    color: var(--ink6-LED2ON);
}

input[type="radio"]:checked+label {
    background-color: inherit;
    border-color: var(--ink6-LED2ON);
    color: var(--ink6-LED2ON);
}

#tier-comment {
    font-size: 80%;
}

#terminal-miner-pane {
    background: var(--ink6-LED2OFF);
    border-radius: 0.4vw;
    padding: 2vh 1vw;
    overflow: hidden;
    margin-bottom: 1vh;
}

#terminal-miner-status-label {
    margin-top:1vh;
    margin-bottom:1vh;
}

#terminal-miner-stats-label,
#terminal-miner-parts-label,
#terminal-miner-actions-label {
    margin-top:1vh;
    margin-bottom:1vh;
}

#terminal-miner-top-section {
    padding: 1vh 1vw;
    border-radius: 0.5vw;
    background: linear-gradient(217deg, rgba(42, 46, 51), rgba(29, 43, 53) 70.71%), linear-gradient(127deg, rgba(42, 46, 51), rgba(24, 42, 56) 70.71%), linear-gradient(336deg, rgba(042, 46, 51), rgba(24, 42, 56) 70.71%);
    margin-bottom: 2vh;
    display: flex;
    justify-content:space-evenly;
}

#terminal-miner-status-available,
#terminal-miner-status-unavailable {
    display: inline-block;
    text-align: center;
    padding: 1vh 1vw;
    border-radius: 0.4vw;
    margin:0.5vh 0.5vw;
    width:40%;
}

#terminal-miner-status-available {
    border: solid 1px var(--ink12-green);
    color: var(--ink12-green);
    display:block;   
}



#terminal-miner-status-unavailable {
    border: solid 1px rgba(209, 17, 17, 1);
    background: none;
    color: rgba(209, 17, 17, 1); 
    display:none;   
}

.meter-off {
    border: 0.1vw solid var(--ink6-LED2LOW);
    background-color: var(--ink6-LED2LOW);
}

.meter-on {
    border: 0.2vw solid var(--ink6-LED2ON);
    background-color: var(--ink6-LED2ON);
}

#terminal-miner-stats-grid {
    display: grid;
    padding: 1vh 1vw;
    border-radius: 0.5vw;
    background: linear-gradient(217deg, rgba(42, 46, 51), rgba(29, 43, 53) 70.71%), linear-gradient(127deg, rgba(42, 46, 51), rgba(24, 42, 56) 70.71%), linear-gradient(336deg, rgba(042, 46, 51), rgba(24, 42, 56) 70.71%);
    margin-bottom: 2vh;
    grid-template-columns: 40% 10% 50%;
    grid-template-rows: 4;
    row-gap: 1vh;
    grid-template-areas: "a1   a2   a3" "b1   b2    b3" "c1  c2 c3" "d1  d2 d3"
}

.key-value {
    color: var(--ink6-LED2ON);
    font-weight: bold;
}

#miner-chance {
    grid-area: a1;
}

#miner-speed {
    grid-area: b1;
}

#miner-power {
    grid-area: c1;
}

#miner-condition {
    grid-area: d1;
}

#chance-value {
    grid-area: a2;
}

#speed-value {
    grid-area: b2;
}

#power-value {
    grid-area: c2;
}

#condition-value {
    grid-area: d2;
}

#chance-meter {
    grid-area: a3;
}

#speed-meter {
    grid-area: b3;
}

#power-meter {
    grid-area: c3;
}

#condition-meter {
    grid-area: d3;
}

#terminal-miner-parts-grid {
    border: 2px solid var(--ink6-LED2LOW);
    border-radius: 0.4vw;
    display: grid;
    margin-bottom:1vh;
    padding: 1vh 1vw;
    grid-template-columns: 50% 50%;
    grid-template-rows: 4;
    row-gap: 1vh;
    grid-template-areas: 
    "e1   e2" 
    "f1   f2" 
    "g1  g2" 
    "h1  h2"
}

#parts-rig {
    grid-area: e1;
}

#parts-processor {
    grid-area: f1;
}

#parts-cooling {
    grid-area: g1;
}

#parts-software {
    grid-area: h1;
}

#rig-name {
    grid-area: e2;
}

#processor-name {
    grid-area: f2;
}

#cooling-name {
    grid-area: g2;
}

#software-name {
    grid-area: h2;
}

#terminal-miner-actions-pane {
    border: 2px solid var(--ink6-LED2LOW);
    border-radius: 0.4vw; 
    padding: 1vh 1vw;
}

#terminal-miner-repairbtn,
#terminal-miner-upgradebtn {
    display: inline-block;
    text-align: center;
    padding: 1vh 1vw;
    border-radius: 0.4vw;
    margin:0.5vh 0.5vw;
    width:40%;
}

#terminal-miner-repairbtn {
    background: rgba(209, 17, 17, 1);
    color: var(--ink14);  
}


/*---- Mid Row (nested) (contents: message window & finances)--------*/

.mid-row-pane {
    height: 36vh;
    margin-bottom: 1vh;
    padding: 1vh 1vw;
    border-radius: 0.5vw;
    box-shadow: -2px -2px 3px var(--ink8-glass1), 1px 1px 1px rgb(107, 196, 255), 1px 2px 1px rgb(107, 196, 255), 1px 3px 1px rgb(107, 196, 255), 1px 4px 1px rgb(107, 196, 255), 4px 12px 4px rgba(0, 189, 255, 0.2), 8px 16px 8px rgba(0, 189, 255, 0.2), 16px 28px 28px rgba(0, 189, 255, 0.2);
    overflow: hidden;
}


/*----Message Panel--------*/

#message-logo {
    font-size: 2rem;
    width: 2vw;
    display: inline;
    color:var(--ink9);
}

#message-title {
    font-size: 2rem;
    display: inline;
}

#message-screen {
    background-image: repeating-linear-gradient(var(--ink3-offblacksemi), black 1%);
    border-radius: 0.4vw;
    height: 30vh;
    padding: 0.5vh 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5;
    row-gap: 1vh;
    /*-- CSS BEAUTIFIER AUTO-STYLING GRID-LAYOUT ON SINGLE ROW???--*/
    grid-template-areas: 
    "msg-alert  msg-alert"
    "msg-title  msg-title"
    "msg-outcome-txt msg-outcome-txt"
    "msg-event  msg-event"
    "msg-btn-outcome msg-btn-outcome"
    "msg-choices msg-choices"
    "msg-optA-txt   msg-optA-txt"
    "msg-optB-txt   msg-optB-txt"
    "msg-btn-optA   msg-btn-optB"
    ;
}

#msg-alert {
    grid-area: msg-alert;
    color: var(--ink11-amber);
    text-align:center;
    display:none;
}

#msg-title {
    grid-area: msg-title;
    color: var(--ink11-amber);
    text-align:center;
    display:none;
    margin-bottom:0;
}

#msg-event {
    grid-area: msg-event;
    color: var(--ink11-amber);
    text-align:center;
    display:none;
}

#msg-choices {
    grid-area: msg-choices;
    color: var(--ink11-amber);
    display:none;
}

#msg-optA {
    grid-area: msg-optA;
    color: var(--ink11-amber);
    display:none;
}

#msg-optA-txt {
    grid-area: msg-optA-txt;
    color: var(--ink11-amber);
    display:none;
}

#msg-optB {
    grid-area: msg-optB;
    color: var(--ink11-amber);
    display:none;
}

#msg-optB-txt {
    grid-area: msg-optB-txt;
    color: var(--ink11-amber);
    display:none;
}

#msg-btn-optA {
    grid-area: msg-btn-optA;
    text-align: center;
    display:none;
    width: 80%;
    justify-self:center;
}

#msg-btn-optB {
    grid-area: msg-btn-optB;
    text-align: center;
    display:none;
    width: 80%;
    justify-self:center;
}

#msg-outcome-txt {
    grid-area:msg-outcome-txt;
    text-align: center;
    color: var(--ink11-amber);
    display:none;
}

#msg-btn-outcome {
    grid-area:msg-btn-outcome;
    text-align: center;
    display:none;
    width: 80%;
    justify-self:center;
}

/*----Finance Panel--------*/

#finance-logo {
    font-size: 2rem;
    width: 2vw;
    display: inline;
    color:var(--ink9);
}

#finance-title {
    font-size: 2rem;
    display: inline;
}


/*--constructed of a 'master' grid, with nested grids for individual panels (bank, e-wallet and exchange fields)--*/

#finance-grid {
    display: inline-grid;
    grid-template-columns: 3;
    grid-template-rows: 5;
    /*-- CSS BEAUTIFIER AUTO-STYLING GRID-LAYOUT ON SINGLE ROW???--*/
    grid-template-areas: 
    "finance-bank      finance-bank      finance-bank" 
    "finance-ewallet    finance-ewallet    finance-ewallet" 
    "finance-exchange  finance-exchange  finance-exchange" 
    "exchange-btn    exchange-btn    exchange-btn";
}

.finance-sub-grid {
    border: 2px solid var(--ink6-LED2LOW);
    border-radius: 0.4vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}


/*-- finance icon / label / value classes apply consistent styling aross master and sub grids---*/

.finance-icon {
    width: 2vw;
    text-align: center;
}

.finance-label {
    text-align: center;
}

.finance-value {
    background: black;
    border-radius: 0.4vw;
    padding-left: 0.5vw;
}


/*-- IDs applied to individual items to map grid placement and further 'sub grid' styles (e.g. border to distinguish bank vs. e-wallet sections) --*/

#finance-bank {
    grid-area: finance-bank;
    display: inline-grid;
    grid-template-columns: 2vw 10vw 10vw;
    width: 22.5vw;
    grid-template-rows: 1;
    grid-template-areas: "bank-icon  bank-label bank-value"
}

#bank-icon {
    grid-area: bank-icon;
}

#bank-label {
    grid-area: bank-label;
}

#bank-value {
    grid-area: bank-value;
}

#finance-ewallet {
    grid-area: finance-ewallet;
    display: inline-grid;
    grid-template-columns: 2vw 10vw 10vw;
    width: 22.5vw;
    grid-template-rows: 1;
    grid-template-areas: "ewallet-icon  ewallet-label ewallet-value"
}

#ewallet-icon {
    grid-area: ewallet-icon;
}

#ewallet-label {
    grid-area: ewallet-label;
}

#ewallet-value {
    grid-area: ewallet-value;
}

#finance-exchange {
    grid-area: finance-exchange;
    display: inline-grid;
    grid-template-columns: 2vw 10vw 10vw 2vw 10vw 10vw;
    width: 22.5vw;
    grid-template-rows: 1;
    grid-template-areas: "exchange-icon  exchange-label exchange-value"
}

#exchange-icon {
    grid-area: exchange-icon;
}

#exchange-label {
    grid-area: exchange-label;
}

#exchange-value {
    grid-area: exchange-value;
}

#exchange-value-sub {
    font-size: 1rem;
}

#exchange-btn {
    grid-area: exchange-btn;
    width: 22.5vw;
}


/*----Lower Section (contents: Miner Activity & Energy--------*/

.lower-row-pane {
    height: 46vh;
    margin-top: 1vh;
    padding: 1vh 1vw;
    border-radius: 0.5vw;
    box-shadow: -2px -2px 3px var(--ink8-glass1), 1px 1px 1px rgb(107, 196, 255), 1px 2px 1px rgb(107, 196, 255), 1px 3px 1px rgb(107, 196, 255), 1px 4px 1px rgb(107, 196, 255), 4px 12px 4px rgba(0, 189, 255, 0.2), 8px 16px 8px rgba(0, 189, 255, 0.2), 16px 28px 28px rgba(0, 189, 255, 0.2);
    overflow: hidden;
}


/*----Activity Panel--------*/


#activity-logo {
    font-size: 2rem;
    width: 2vw;
    display: inline;
    color:var(--ink9);
}

#activity-title {
    font-size: 2rem;
    display: inline;
}

#terminal-miner-activatebtn,
#terminal-miner-stopbtn {
    text-align: center;
    padding: 1vh 1vw;
    border-radius: 0.4vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width:40%; 
}

#terminal-miner-activatebtn {
    display: inline-block;
}

#terminal-miner-stopbtn {
    display: none;
}

#mine-block-grid {
    padding-left:1vw;
    padding-right:1vw;
    margin-top: 1vh;
    color: var(--ink2-offblacksolid);
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 60% 40%;
    row-gap: 1vh;
    grid-template-areas: 
    "mml1 mmr1"
    "mml2 mmr2"
    "mml3 mmr3"
    "power-used-l power-used-r"
    "power-cost-l power-cost-r"
    "progress progress"
    "result-l result-r"
    "reattempt repeatcount"
    "win-img win-btn"
    "stats-grid stats-grid";
}

#block-mining-line1 {
    grid-area: mml1;
}

#block-mining-line2 {
    grid-area: mml2;
    display:none;
}

#block-mining-line3 {
    grid-area: mml3;
    display:none;
}

#block-mining-power-used-label {
    grid-area: power-used-l;
    display:none;
} 

#block-mining-power-cost-label {
    grid-area: power-cost-l;
    display:none;
}

#block-mining-progressbar {
    grid-area: progress;
    display:none;
}

/*-- BUG: miner progress bar default animation to reset the bar means 'quick' progress bars would only get down to around 40% before re-filling. Added custom class to remove animation at end of cycle (i.e. remove the reverse fill) and remove this class on start of next cycle--*/

.no-animation {
    transition: none;
}

#block-mining-line5 {
    grid-area: result-l;
    display:none;
}

#block-mining-reattempt {
    grid-area: reattempt;
    display:none;
}

#block-mining-response1 {
    grid-area: mmr1;
}

#block-mining-response2 {
    grid-area: mmr2;
    display:none;
}

#block-mining-response3 {
    grid-area: mmr3;
    display:none;
}

#block-mining-power-used {
    grid-area: power-used-r;
    display:none;
}

#block-mining-power-cost {
    grid-area: power-cost-r;
    display:none;
}

#block-mining-response5 {
    grid-area: result-r;
    display:none;
}

#block-mining-reattempt-count {
    grid-area: repeatcount;
    display: none;
    color: var(--ink9);
}


#mine-success-img {
    grid-area: win-img;
    display: none;
    font-size: 5rem;
    color: var(--ink6-LED2ON);
    text-align: center;
}

#terminal-miner-won-btn {
    grid-area: win-btn;
    text-align: center;
    padding: 1vh 1vw;
    border-radius: 0.4vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 80%;
    display: none;
}

#mining-stats-grid {
    grid-area:stats-grid;
    margin-top: -7vh;
    border: 2px solid var(--ink6-LED2LOW);
    border-radius: 0.4vw; 
    padding: 1vh 1vw;
    display:grid;
    grid-template-columns: 2;
    column-gap:1vw;
    row-gap: 1vh;
    grid-template-areas: 
    "stat-title stat-title"
    "stat1   stat1-result"
    "stat2   stat2-result"
    "stat3   stat3-result"
    "stat4   stat4-result"
    "stat5   stat5-result"
    "stat6   stat6-result"
}

#stats-grid-title {
    grid-area:stat-title;
    font-size:1.25rem;
}

#stat1 {
    grid-area:stat1;
}

#stat1-result {
    grid-area:stat1-result;
}

#stat2 {
    grid-area:stat2;
}

#stat2-result {
    grid-area:stat2-result;
}

#stat3 {
    grid-area:stat3;
}

#stat3-result {
    grid-area:stat3-result;
}

#stat4 {
    grid-area:stat4;
}

#stat4-result {
    grid-area:stat4-result;
}

#stat5 {
    grid-area:stat5;
}

#stat5-result {
    grid-area:stat5-result;
}

#stat6 {
    grid-area:stat6;
}

#stat6-result {
    grid-area:stat6-result;
}




/*----Energy Panel--------*/

#energy-grid {
    align-items: center;
    display: grid;
    margin-bottom: 2vh;
    grid-template-columns: 10vw 10vw;
    grid-template-rows: 6;
    row-gap: 1vh;
    /*-- CSS BEAUTIFIER AUTO-STYLING GRID-LAYOUT ON SINGLE ROW???--*/
    grid-template-areas: "provider       provider-response" "type           type-response" "cost           cost-response" "reliability    reliability-response" "pollution-rating      pollution-rating-response" "statement      statement"
}

#energy-logo {
    font-size: 2rem;
    width: 2vw;
    display: inline;
    color:var(--ink9);
}

#energy-title {
    font-size: 2rem;
    display: inline;
}

.energy-response {
    background: black;
    padding-left: 0.5vw;
    border-radius: 0.4vw;
    border-bottom: 2px solid var(--ink6-LED2LOW);
}

#provider {
    grid-area: provider;
}

#provider-response {
    grid-area: provider-response;
}

#type {
    grid-area: type;
}

#type-response {
    grid-area: type-response;
}

#cost {
    grid-area: cost;
}

#cost-response {
    grid-area: cost-response;
}

#reliability {
    grid-area: reliability;
}

#reliability-response {
    grid-area: reliability-response;
}

#pollution-rating {
    grid-area: pollution-rating;
}

#pollution-rating-response {
    grid-area: pollution-rating-response;
}

#statement {
    grid-area: statement;
    font-style: italic;
}

#energy-btn {
    text-align: center;
}

/*---Media Queries for Gamecard--*/

@media screen and (max-height: 835px) {
    html {
        font-size:10px;
    }
    
    #activity, #energy {
        position: relative;
    }

    #terminal-miner-activatebtn, #energy-btn {
        position: absolute;
        right: 1vw;
        top: 1vh;
        width: 10vw;
        max-height:30px;
        padding: 0;
    }
    #energy-grid {
        margin-top:1vh;
    }

    #game-menu .btn {
        margin:0.5vh 0;
    }

    #statement {
        display: none;
    }
}  

@media screen and (max-height: 500px) {
   
    #terminal-miner-pane, #finances {
        position: relative;
    }

    #terminal-miner-upgradebtn,
    #terminal-miner-repairbtn,
    #terminal-miner-stopbtn,
    #exchange-btn {
        position: absolute;
        top: 0.5vh;
        width: 8vw;
        padding: 0;
    }

    #terminal-miner-upgradebtn, #exchange-btn, #terminal-miner-stopbtn {
        right: 0.5vw;
    }

    #terminal-miner-repairbtn {
        right:5;
    }

    #terminal-miner-actions-label, #terminal-miner-actions-pane {
        display: none;
        border: none;
        border-radius: 0; 
        padding: 0;
    }

    .finance-sub-grid {
        margin-top:0.5vh;
    }

    #terminal-miner-parts-grid, #terminal-miner-stats-grid, #mine-block-grid {
        row-gap: 0.5vh;
    }

  }


  @media screen and (max-height: 400px) {
    #terminal-title-small,
    #finance-title-small,
    #message-title-small,
    #activity-title-small,
    #energy-title-small {
        display:inline;
        color: var(--ink9);
    }

    #terminal-title,
    #finance-title,
    #message-title,
    #activity-title,
    #energy-title {
        display:none;
    }
    
    #block-mining-line1,
    #block-mining-response1  {
        margin-top:-1.5vh;
    }

    #mining-stats-grid {
        margin-top:-3vh;
    }

    #terminal-miner-parts-grid {
        row-gap: 0;
    }

    #message-screen {
        row-gap: 0vh;
       
        grid-template-areas: 
       
        "msg-outcome-txt msg-outcome-txt"
        "msg-event  msg-event"
        "msg-btn-outcome msg-btn-outcome"
        
        "msg-optA-txt   msg-optA-txt"
        "msg-optB-txt   msg-optB-txt"
        "msg-btn-optA   msg-btn-optB"
        ;
    }
    #msg-btn-optA, #msg-btn-optB {
        padding: 0;
        height: 60%;
    }

  }