
/*--------------Style libray ----------------------------------------------------*/


/*---------------Font Types------------------------------------------------------*/


/*----
@font-face {
    font-family: 'Mylodon';
    src: url('../fonts/Mylodon-Regular.otf') format('otf');
}
-------*/

@font-face {
    src:url('../fonts/Mylodon-Regular.otf');
    font-family:'special';
    }


@font-face {
    src:url('../fonts/Mylodon-Light.otf');
    font-family:'special-light';
    }


/*----------------------------Global Root Variables---------------------------------------*/

:root {

/*---Font Variables---*/

--specialfont1:'special', Arial, sans-serif; /*-- used for main headers----------------------*/
--specialfont-light:'special-light', Arial, sans-serif; /*-- used for content----------------------*/



                
/*---Font Sizing Variables-----(only defined for specific instances where need to override - as typically fonts-sizings matched by element type (i.e. H1) to the responsive font groupings as tabled below---*/



   /*---Font Color Variables---*/

   --ink1-black:rgb(0,0,0);                  /*-- black----------------------*/
   --ink2-offblacksolid:rgba(29,40,49,1);    /*-- blue-black (solid) main b/ground----*/
   --ink3-offblacksemi:rgba(29,40,49,0.5);   /*-- blue-black (semi-transparent) - to blend with hero image------*/
   --ink4-blueblack:rgb(10,25,35);           /*-- off-black - mid-level panel ----------------*/
   
   --ink5-LED1:   rgba(0,217,255,1);         /*--Bright Teal Blue LED-------*/
   --ink6-LED2:   rgba(0,196,255,0.9);       /*--Blue LED ------------------*/
   --ink7-LED3:   rgba(0,196,255,0.9);       /*--Dimmer Blue----------------*/
   --ink7-glass1: rgba(107,196,255,0.18);    /*--svg glass fill w high transparency --*/
   --ink8-glass2: rgba(0,0,0,0.3);           /*--black 50% transparency---*/

   --ink9:rgb(255,239,213);                 /*-- papayawhip ----------------*/
   --ink10:rgb(250,250,250);                 /*-- XXXXX --------------------*/ 
   --ink11:rgb(250,250,250,);                /*-- XXXXX --------------------*/ 
   --ink12:rgb(250,250,250);                 /*-- XXXXX --------------------*/   
 
}



/*---------------------Responsive Font Groups -----------------------------------------*/

h1 {font-size:clamp(28px, 6vw, 6vw);color:var(--ink5-LED1)}
h2 {font-size:clamp(26px, 5vw, 5vw);color:var(--ink5-LED1)}
h3 {font-size:clamp(24px, 4vw, 4vw);color:var(--ink5-LED1)}
h4 {font-size:clamp(22px, 3vw, 3vw);color:var(--iink5-LED1)}
h5 {font-size:clamp(20px, 2.5vw, 2.5vw);color:var(--iink5-LED1)}
body, div, p {font-size:clamp(16px, 2vw, 2vw);font-family: var(--specialfont-light); color:var(--ink7-LED3);}

 


 /*---------------------Temp - Schedule Page-------------------------------*/

.schedule-fullScreen {
    color:var(--ink-black);
    background-color: var(--ink-glass1);
}



/*---------------------Full Page -----------------------------------------*/
#top-screen, #mid-screen, #lower-screen {
    background-color: var(--ink2-offblacksolid);
    }
    
    #top-screen {
    padding:0;
    margin:0;
    }
    
    #mid-screen, #lower-screen {
    padding-left: 2vw;
    padding-right: 2vw;
    }

    .breaker-line {
    background-image: linear-gradient(to right, var(--ink3-offblacksemi), var(--ink5-LED1), var(--ink3-offblacksemi)); 
    height:0.5vh;
    }
    
    /*---------------------Top Screen (zone 1 : Landing Screen) -----------------------------------------*/
    #zone1 {
    width:100vw;
    background-color: var(--ink2-offblacksolid);
    }
    
    #zone1-content {
    /*--min-height:50vh; not needed? --*/
    width:100vw;
    }
    
    
    #hero-img {
    position: relative;
    width:100%;
        
    /*--max-height:550px;
    min-height:150px;--*/
    }
    
    
    /*--REMOVE IF NOT USED 
    #zone1-strapline {
        height:20vh;
        color:var(--LED1); 
    }--*/
    
    /*---------------------Middle Screen (zones 2 & 3) : How to Play and Additional Info) -----------------------------------------*/
    
    #zone2 {
     
    }
    
    #zone3 {
        
    }
    
    .block-outer1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 3vh;
        text-align:left;
    }
    
    .block-title {
        min-height:5vh;
        font-family: var(--specialfont1);
        background-image:linear-gradient(to right, var(--ink3-offblacksemi), var(--ink5-LED1), var(--ink3-offblacksemi)); 
        text-align:center;
        color: var(--ink4-blueblack);
        padding:1vh 0 1vh 1vw;
        cursor: pointer;
        width:100%;
    }
    
        
    .inner-content1 {
        display: none;
        overflow: hidden;
    }

    
    /*---------------------Lower Screen (zone 4 : Game Screen) -----------------------------------------*/
    
    #zone4 {
        
    }
    
   
    #main-game-wrapper {
        height: 90vh;
        position:relative;
        display:flex;
        justify-content:center;
        align-items:center;
        background:var(--ink4-blueblack);
    }
    
    .styled-pane {
        margin: 0;
        padding: 0;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
    }



   #game-main-upper {
       height:45vh;
       background-color:grey;
       color:red;
   }

    .miner-list {
        min-width:100%;
        display:flex;
        flex-wrap:wrap;
        flex-direction: row;
        word-wrap: break-word;
    }

    #game-main-lower {
        height:45vh;
        background-color:lightsteelblue;
    }

    #game-main-lower-left {
        background-color:rgb(63, 61, 61);
    }


    #game-main-lower-right {
        background-color:darkslateblue;
    }






/*---------------------Main Body : Left Panel (Mining Device)----------


#mining-main {
    
    margin-left:12px;
    margin-right:12px;
    color:var(--ink1);
}




.miners-table-sub-section {
    margin-bottom:2vh;
}




/*---------------------Main Body : Center Panel (Terminal Window)----------

#gameplay-main {
    
    margin-left:12px;
    margin-right:12px;
    color:var(--ink1);
}

.digital-value {
    background-color:var(--ink1);
    color:rgb(3, 136, 3);
    padding-right:2vw;
}

#terminal-window {
    border: solid 2px var(--ink3);
    padding:2vh 1vw;
    margin-bottom:5vh;
    
}


/*---------------------Main Body : Right Panel (Game Stats)-----------------------




/*---------------------Temporary Styling / Testing ------------------------------------

/*---------------------Footer---------------------

#footer {
    height:15vh;
    padding:1vh 1vw;
    background-color:var(--ink0);
    color:var(--ink2);
    overflow: auto;
}

.btn-test {
    width:25vw;
    height:auto;
}





