p {
    margin:0;
}


#full-screen {
    height:100vh;
    background-color:#303030;
    padding-top:50px;
   
}


#header, #main-body, #footer {
   
    border: solid 5px orange;
    width: 90vw;
    margin-left:5vw;
    background-color: grey;
    overflow: hidden;

}


#header  {
    height:25vh;
    padding:10px;
}

#welcome {
    width:100%;
    
}

#rules {
    border: solid 5px darkgoldenrod;
    margin-left:0;
    margin-right:0;
    margin-bottom:10px;
}


#main-body {
    min-height:50vh;
}


#main-body h3 {
    text-align:center
}

#left-panel, #center-panel, #right-panel {
    border: solid 2px orange;
    border-top:none;
    padding:10px 0;
}



#mining-main {
    height:75%;
    margin-left:12px;
    margin-right:12px;
}



#miners-table {
    background-color: silver;
    padding-top:15px;
    padding-bottom:15px;
}

#power-main {
    height:25%;
}

.field-value {
    background-color:papayawhip;
    padding-left:10px;
}


#gameplay-main {
    height:75%;
}


#stats-main {
    height:75%;
}

#footer {
    
    height:10vh;
}

/*----Buttons

.btn {
    width:50%;
    margin-top:25px;
}
-----*/