#full-screen {
    height:100vh;
    background-color:#303030;
   
}


#header, #main-body, #footer {
   
    border: solid 5px orange;
    width: 90vw;
    background-color: grey;
}


#header  {
    
    height:25%;
}


#main-body {
    
    height:50%;
}

#left-panel {
    border: solid 2px orange;
}

#mining-main {
    height:75%;
    margin-left:12px;
    padding:0;
}

#miners-table {
    background-color: silver;
    
}

#power-main {
    height:25%;
}



#footer {
    
    height:25%;
}